body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    padding: 0 150px;
    justify-content: space-between;
    background-color: #1f2937;
}

.header-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 15px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

li {
    font-size: 18px;
}

a {
    text-decoration: none;
}

li a, .sign-button a {
    color: #e5e7eb;
}

li a:visited, .sign-button a:visited {
    color: #e5e7eb;
}

.main {
    display: flex;
    padding: 100px 150px;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center ;
}

.main-container {
    width: 450px;
}

.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.main-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.awesome {
    width: 450px;
    height: 225px;
}

.sign-button {
    margin-top: 10px;
    padding: 5px 25px;
    border-radius: 8px;
    border: none;
    background-color: #3882f6;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
 .sign-link {
    font-weight: 700;
 }

 .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;
 }

 .info-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
 }

 .cards-container {
    display: flex;
    column-gap: 50px;
 }

 .card {
    width: 150px;
 }

 .card-img {
    width: 150px;
    height: 150px;
    border: 3px #3882f6 solid;
    border-radius: 8px;
 }

 .card-text {
    margin: 8px 0;
    color: #1f2937;
    text-align: center;
 }